import pandas as pd

In [ ]:
pwd

In [4]:
df= pd.read_csv(r"/home/thanu/Desktop/mendicantbias/src/bitcoin.csv")

In [5]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2,1417412100,300.0,300.0,300.0,300.0,0.01,3.0,300.0
3,1417412160,300.0,300.0,300.0,300.0,0.01,3.0,300.0
4,1417412220,300.0,300.0,300.0,300.0,0.01,3.0,300.0

In [6]:
import matplotlib as plt

In [7]:
df.describe()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
count,1.027500e+04,10275.000000,10275.000000,10275.000000,10275.000000,10275.000000,10275.000000,10275.000000
mean,1.419714e+09,278.644326,280.306878,275.802969,277.246748,0.398345,131.050041,277.879212
std,1.788394e+06,88.453580,86.894732,91.811155,90.642619,1.096373,407.636293,89.299344
min,1.417412e+09,109.870000,109.940000,109.870000,109.940000,0.010000,1.099400,109.940000
25%,1.417566e+09,189.000000,189.130000,189.000000,189.000000,0.010000,3.770000,189.000000
50%,1.420741e+09,284.350000,289.250000,273.550000,282.410000,0.026200,3.978155,286.025000
75%,1.421267e+09,377.000000,377.000000,377.000000,377.000000,0.060000,9.825550,377.000000
max,1.421421e+09,398.000000,398.000000,398.000000,398.000000,5.200000,1965.600000,398.000000